.feynman {
  box-sizing:border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 890px;
  padding-top: 100px;
  padding-bottom: 0;
  background-color: #F2F2F2;
}
