.kaufman {
  box-sizing:border-box;
  display: flex;
  background-color: #1d1d1d;
  flex-direction: column;
  align-items: center;
  padding: 90px 0;
  overflow: hidden;
  position: relative;
  z-index: -2;
}
