.kaufman {
  display: flex;
  width: 1440px;
  background-color: #1d1d1d;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 90px;
  padding-bottom: 90px;
  overflow: hidden;
  position: relative;
  z-index: -2;
}