.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: 400;
  margin: 0;
  opacity: 0.4;
  transition: opacity .3s ease-in-out;
  color:#2f80ed;
}

.khan__buy-link:hover {
  opacity: 1;
}